.GameOverOverlay{
    height: fit-content;
    width: fit-content;

    position:absolute;
    /*top:30vh;/*37%;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    padding:5%;

    background-color: rgb(230, 226, 235);
    border:2px solid #282c34;
}

.btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    margin-top:10%;
}

.GameOverButton{

    height:10%;
    width:100%;
    margin:5px;

    border: #282c34 solid 1px;
    background-color: rgb(251, 251, 251);
    color:#282c34;

}
.GameOverButton:hover{
    background-color: rgb(219, 218, 218);
}
#GameOverText{
    margin-bottom: 2px;
    font-size: 8vh;
}

#ScoreText{
    margin-bottom: 5px;
}

.Form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

   background-color: lightgray;
   border: 2px solid #282c34;

}