.LeaderboardOverlay{
    width:80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 5px solid #282c34;
    background-color: rgb(252, 249, 254);
}

.Header{
    width: 99%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 1%;

    border-bottom:2px solid #282c34;
}

.Exit-Btn-Div{
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Exit-Btn{
    background-color: rgb(252, 249, 254);
    color:red;
    border:none;
}

.Exit-Btn:hover{
    background-color: #a3a3a3;
}
#Title{
    font-size: 10vh;
}