.Ranking{
    text-align: center;

    display: grid;

    grid-template-columns: repeat(3, calc(100% / 3));

    
}

#Rank{
    grid-column: 1 / span 1;
    /*border-right:2px solid #282c34;*/
}

#Name{
    grid-column: 2 / span 1;
    /*border-right:2px solid #282c34;*/
}

#Score{
    grid-column: 3 / span 1;
}