.Ranking{
    border:1px solid black;
    text-align: center;
}
#Rank{
    
    grid-column-start: 1;
    grid-column-end: 1;

   
}

#Name{
    
    grid-column-start: 2;
    grid-column-end: 2;

    
}

#Score{
    

    grid-column-start: 3;
    grid-column-end: 3;

    
}