/*Extended Sidebar*/
.RulesOverlay{
    /*width is 100 - .Sidebar width*/
    width:80%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5%;

    background-color: #a3a3a3;
    border: 3px solid #282c34;
    
}

.Textbox{
    min-height:100%;

    width:calc(fit-content+100px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: calc(6px + 2vmin);
}

.Heading{
    font-size: calc(6px + 2vmin);
}

.Rules{
    max-height: 60%;

    font-size: 2vmin;
}

.Exit-Btn-Div{
    width:100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Exit-Btn{
    background-color: #282c34;
    color:#a3a3a3;
    border:none;
}

.Exit-Btn:hover{
    background-color: #636262;
}