.App {
  min-height: 100vh;
 
  min-width: 100vh;

  display: flex;
  flex-direction: row;
  
  justify-content:flex-start;

  background-color: whitesmoke;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin:0;
}

.Spacer{
 

  background-color: red;

}
