.App {
  min-height: 100vh;
 
  min-width: 100vh;

  display: flex;
  flex-direction: row;
  
  justify-content:flex-start;

  background-color: rgb(230, 226, 235);
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin:0;

  font-family: 'Courier New', Courier, monospace;
}

.Spacer{
 

  background-color: red;

}
